#test_container {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
#svg_configs_div {
    display: flex;
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
    flex-direction: column;
    justify-content: space-evenly;
}
#svg_configs_div > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
}
#svg_configs_div > div > *{
}

#svg_configs_div > div > label {

}
#svg_configs_div > div > input{
    width: 40%;
}


#grid_configs_div {
    display: flex;
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
    flex-direction: column;
    justify-content: space-evenly;
}
#grid_configs_div > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
}

#grid_configs_div > div > input, select {
    width: 40%;
}

#svg_div > svg{
    border: 1px black solid;
}


.distance-0 {
    fill: red;
}
/*
.distance-1 {
    fill: #ff0000; 
}
.distance-2 {
    fill: #ff7f00; 
}
.distance-3 {
    fill: #ffff00; 
}
.distance-4 {
    fill: #00ff00;
}
.distance-5 {
    fill: #0000ff;
}
.distance-6 {
    fill: #8b00ff;
}
.distance-7 {
    fill: #ff0000;
}
.distance-8 {
    fill: #ff7f00;/
}
.distance-1:hover {
    fill: #990000;
}
.distance-2:hover {
    fill: #994c00;
}
.distance-3:hover {
    fill: #808000;
}
.distance-4:hover {
    fill: #004d00;
}
.distance-5:hover {
    fill: #000080;
}
.distance-6:hover {
    fill: #660066;
} */