#svg_configs_div {
    display: flex;
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
#svg_configs_div > div {
    margin-bottom: 10px; 
}
#grid_configs_div {
    display: flex;
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
#grid_configs_div > div {
    margin-bottom: 10px; 
}

.distance-0 {
    fill: white;
}
.distance-1 {
    fill: #ff0000; 
}
.distance-2 {
    fill: #ff7f00; 
}
.distance-3 {
    fill: #ffff00; 
}
.distance-4 {
    fill: #00ff00;
}
.distance-5 {
    fill: #0000ff;
}
.distance-6 {
    fill: #8b00ff;
}
.distance-7 {
    fill: #ff0000;
}
.distance-8 {
    fill: #ff7f00;/
}
.distance-1:hover {
    fill: #990000;
}
.distance-2:hover {
    fill: #994c00;
}
.distance-3:hover {
    fill: #808000;
}
.distance-4:hover {
    fill: #004d00;
}
.distance-5:hover {
    fill: #000080;
}
.distance-6:hover {
    fill: #660066;
}